.wcu_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 150px;
}

.wcu_container > span {
  font-size: 14px;
  color: #1dd3f8;
}
.wcu_container > p {
  font-size: 15px;
  color: #4d4d4d;
  line-height: 27px;
  max-width: 625px;
  text-align: center;
}

.wcu_card_container {
  width: 70%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  margin-top: 50px;
}

.wcu_card {
  width: 48%;
  box-shadow: 0 0 20px 3px rgb(0 0 0/5%);
  padding: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  transition: all 1s ease;
}

.wcu_card:hover {
  transform: translateY(-5px);
}

.wcu_card_img_box {
  height: 100%;
  grid-row: 1/3;
}

.wcu_card_img_box > span {
  display: grid;
  margin: auto;
  height: 70px;
  width: 70px;
  border: 2px dotted white;
  animation: border_rotation 7s linear infinite alternate;
  place-items: center;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.wcu_card > p {
  grid-column: 2/3;
  font-size: 15px;
  line-height: 27px;
}

.wcu_card_img {
  background-color: white;
  box-shadow: 0 0 20px 3px rgb(0 0 0/5%);
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  bottom: -30px;
  right: -5px;
  font-size: 25px;
}
