.home_about {
  width: 100%;
  position: relative;
  padding-top: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.cards_container {
  width: 70%;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 15%;
  top: -70px;
}

.home_about_card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 20px 3px rgb(0 0 0/5%);
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  z-index: 99;
  text-align: center;
}
.home_about_card:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.home_about_card:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.home_about_card:nth-child(2) {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.home_about_card:hover {
  transform: scale(1.1, 1.1);
}

.about_card_img_div {
  border: 1px dashed #1dd3f8;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 100;
  color: #1dd3f8;
  transition: all 0.8s ease;
}
.home_about_card > h2 {
  font-size: 22px;
  line-height: 25px;
}
.home_about_card > p {
  font-size: 15px;
  line-height: 25px;
  color: gray;
}

.to_right_arrow {
  border: none;
  position: absolute;
  bottom: -20px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: all 0.8s ease;
  box-shadow: 0 0 20px 3px rgb(0 0 0/5%);
  background-color: white;
  font-size: 25px;
  display: grid;
  place-items: center;
}

.home_about_card:hover .to_right_arrow,
.home_about_card:hover .about_card_img_div {
  color: white;
  background-color: #1dd3f8;
}

.home_about_bottom {
  width: 70%;
  height: fit-content;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.home_about_bottom > img {
  margin: auto;
}
.home_about_bottom > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home_about_bottom > div > span {
  color: #1dd3f8;
  font-size: 14px;
}
.home_about_bottom > div > h2 {
  font-size: 40px;
}
.home_about_bottom > div > p {
  color: gray;
  font-size: 15px;
  line-height: 25px;
}

.home_about_list_box > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
}

.home_about_list_box > ul > li {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
}

.home_about_list_box > ul > li > span {
  height: 25px;
  width: 25px;
  background-color: #d7eef8;
  display: grid;
  place-items: center;
  border-radius: 20px;
  color: #1dd3f8;
  font-size: 18px;
}

.home_about_list_box + div {
  margin-top: 20px;
}
