.home_service_section {
  padding: 100px 0px;
  width: 100%;
  background-color: #f2fefe;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top_right {
  position: absolute;
  right: 0%;
  top: 0%;
}

.bottom_left {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.home_service_section > span {
  color: #1dd3f8;
  font-size: 14px;
}
.home_service_section > h2 {
  font-size: 40px;
  font-weight: 700;
}
.home_service_section > p {
  font-size: 15px;
  line-height: 25px;
  width: 30%;
  text-align: center;
  color: #4d4d4d;
}

.service_tiles_box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.section_card {
  border: 1px dotted;
  flex-basis: 32%;
  padding: 25px;
  display: grid;
  grid-template-areas: "img title" "img desc" "img desc";
  transition: all 1s ease;
  background-color: white;
  border-radius: 4px;
}
.section_card:hover {
  transform: translateY(-5px);
}

.section_card > div {
  grid-area: img;
  width: 70px;
}
.section_card > div > span {
  font-size: 30px;
  display: grid;
  place-items: center;
  border-radius: 4px;

  width: 40px;
  height: 40px;
}
.section_card > h2 {
  grid-area: title;
  font-size: 22px;
  font-weight: 700;
}
.section_card > p {
  grid-area: desc;
  font-size: 15px;
  line-height: 27px;
  color: #4d4d4d;
}
