.home_contact_box {
  position: relative;
  width: 100%;
  background-color: #060542;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  overflow: hidden;
}

.home_contact_box > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home_contact_box input {
  height: 52px;
  width: 526px;
  border-radius: 8px;
  padding-left: 20px;
}

.subscribe_btn_div {
  position: absolute;
  right: 0px;
  top: 0%;
}

.home_contact_box > div > h2 {
  font-size: 30px;
}

.newsletter_bgi_left {
  height: 260px;
  position: absolute;
  left: -25px;
  bottom: -40px;
  opacity: 0.5;
}

.newsletter_bgi_right {
  height: 260px;
  position: absolute;
  right: -25px;
  bottom: -40px;
  opacity: 0.5;
}

.newsletter_boxes {
  height: 260px;
  opacity: 0.5;
  position: absolute;
  top: 0%;
  right: 0%;
}
