* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1920px;
  margin: auto;
}

button {
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}