.slider_card_box {
  width: 100%;
  background-color: #192064;
  padding: 6.25rem 0rem;
  padding-bottom: 0rem;
}

.slider_card_box>p {
  text-align: center;
  color: #1dd3f8;
  font-size: .875rem;
}

.slider_card_box>h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: .625rem;
}

.slider_box {
  height: fit-content;
  width: 70%;
  margin: auto;
  margin-top: 2.5rem;
  min-width: 81.25rem;
}

.slider_card_container {
  display: flex;
  gap: 2rem;
  padding-top: 2.5rem;
}

.slider_card {
  position: relative;
  flex-basis: 31%;
  height: fit-content;
  min-width: 31%;
  width: 100%;
  margin-top: 1.875rem;
  padding-bottom: 12.5rem;
}

.upper_card_box {
  background-color: white;
  padding: 2.5rem;
  border-radius: .3125rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  align-items: center;
  position: relative;
}

.upper_card_box:before {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-top: 2.8125rem solid #fff;
  border-right: .625rem solid transparent;
  border-bottom: 0;
  border-left: 3.125rem solid transparent;
  bottom: -1.5rem;
  left: 1.25rem;
}

.upper_card_box>p {
  font-size: .9375rem;
  line-height: 1.6875rem;
  text-align: center;
}

.card_quotes {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  color: #1dd3f8;
  left: calc(50% - 1.875rem);
  top: -1.875rem;
  background-color: white;
  border-radius: 1.875rem;
  box-shadow: 0 0 1.25rem .1875rem rgb(0 0 0 / 5%);
  z-index: 9999;
}

.star_list {
  display: flex;
  list-style: none;
  gap: .3125rem;
  color: #ffa500;
  font-size: 1.25rem;
}

.card_user_info {
  position: absolute;
  bottom: -10rem;
  left: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.card_user_info>img {
  border-radius: .3125rem;
  max-height: 4.375rem;
  max-width: 4.375rem;
}

.card_user_name {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.card_user_post {
  color: #1dd3f8;
  font-size: .875rem;
  font-weight: 400;
  text-transform: uppercase;
}


@media screen and (max-width: 1500px) {
  .slider_box {
    width: 100%;
    padding: 0rem 1.25rem;
    min-width: 25rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 780px) {}